@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-text-color: rgba(110, 12, 12, 1);
  --eye-background-radial: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(110, 12, 12, 1) 39%,
    rgba(75, 8, 8, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  --eye-border-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sharingan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}

.eye {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  transition: 0.3s;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply bg-gradient-sharingan;
}

.circle {
  border-radius: 50%;
}

.glare {
  z-index: 100;
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.4;
  left: 20px;
  top: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5046393557422969) 45%,
    rgba(0, 0, 0, 0) 100%
  );
}
.glare::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  opacity: 0.5;
  left: 65px;
  top: 60px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5046393557422969) 45%,
    rgba(0, 0, 0, 0) 100%
  );
}

.glare::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  opacity: 0.3;
  left: 100px;
  top: 100px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5046393557422969) 45%,
    rgba(0, 0, 0, 0) 100%
  );
}

.eye-and-reflection-container {
  height: 300px;
  transition: all 0.3s ease-in-out;
}

.eye > .inner-eye {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.tag {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-bottom: 120px;
  background-color: black;
}

.eye::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

.tag::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 10px solid black;
  border-radius: 500px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  left: 3px;
  top: -5px;
  margin-bottom: 120px;
  background-color: transparent;
}

.level2 > .inner-eye > .tag-container:nth-child(2) {
  transform: rotate(180deg);
}

.level3 > .inner-eye > .tag-container:nth-child(2) {
  transform: rotate(120deg);
}

.level3 > .inner-eye > .tag-container:nth-child(3) {
  transform: rotate(240deg);
}

/* ITACHI EYE START */
.itachi-eye {
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgba(110, 12, 12, 1) 0%,
    rgba(110, 12, 12, 1) 39%,
    rgba(75, 8, 8, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}
.itachi-eye::after {
  box-shadow: 0 0 20px rgb(143, 19, 19);
  background: rgb(143, 19, 19);
}

.itachi-eye > .inner-eye {
  border: none;
  background: transparent;
  width: 80px;
  height: 80px;
}

.itachi-eye > .inner-eye > .tag-container > .tag {
  top: -60px;
  background-color: transparent;
  width: 200px;
  height: 110px;
  border-radius: 0;
  overflow: hidden;
  transform-origin: 100px 100px;
}

.itachi-eye > .inner-eye > .tag-container > .tag::after {
  border-left: 50px solid black;
  top: 1px;
  left: 82px;
  width: 300px;
  height: 160px;
}

.itachi-eye > .inner-eye > .tag-container:nth-child(1) {
  transform: rotate(-30deg);
}

.itachi-eye > .inner-eye > .tag-container:nth-child(2) {
  transform: rotate(90deg);
}

.itachi-eye > .inner-eye > .tag-container:nth-child(3) {
  transform: rotate(210deg);
}
/* ITACHI EYE END */

/* SASUKE EYES START */
.sasuke-eye {
  background: black;
}

.sasuke-eye > .inner-eye {
  border: none;
  width: 100%;
  height: 100%;
}

.sasuke-eye > .inner-eye > .tag-container > .tag {
  width: 140px;
  height: 140px;
  margin: auto;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(110, 12, 12, 1) 39%,
    rgba(75, 8, 8, 1) 60%,
    rgb(51, 32, 32) 100%
  );
  border-radius: 0% 100% 0% 100%;
}

.sasuke-eye > .inner-eye > .tag-container:nth-child(3) > .tag {
  border: 3px solid black;
}

.sasuke-eye > .inner-eye > .tag-container > .tag::after {
  display: none;
}

.sasuke-eye > .inner-eye > .tag-container:nth-child(1) {
  transform: rotate(45deg);
}

.sasuke-eye > .inner-eye > .tag-container:nth-child(2) {
  transform: rotate(165deg);
}

.sasuke-eye > .inner-eye > .tag-container:nth-child(3) {
  transform: rotate(285deg);
}

.sasuke-eye > .inner-eye > .tag-container:nth-child(3) > .tag::before,
.sasuke-eye > .inner-eye > .tag-container:nth-child(3) > .tag::after {
  position: absolute;
  content: '';
  display: block;
  border: inherit;
  width: 142px;
  height: 142px;
  background-color: transparent;
  border-radius: inherit;
  margin: auto;
  left: -4px;
  top: -4px;
}

.sasuke-eye > .inner-eye > .tag-container:nth-child(3) > .tag::before {
  transform: rotate(120deg);
}

.sasuke-eye > .inner-eye > .tag-container:nth-child(3) > .tag::after {
  transform: rotate(240deg);
}

/* SASUKE EYES END */

/* SASUKE ETERNAL MANGEKYO SHARINGAN */

.s-ems::after {
  width: 30px;
  height: 30px;
  background-color: rgba(110, 12, 12, 1);
}

.s-ems > .inner-eye > .ems-tags > div {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 50px;
  overflow: hidden;
}

.s-ems > .inner-eye > .ems-tags > div::after {
  position: absolute;
  content: '';
  width: 35%;
  height: 200%;
  background-color: black;
  top: 30px;
  left: 33px;
  border-radius: 50%;
  border: none;
}

.s-ems > .inner-eye > .ems-tags > div:nth-child(2) {
  transform-origin: bottom center;
  transform: rotate(120deg);
}

.s-ems > .inner-eye > .ems-tags > div:nth-child(3) {
  transform-origin: bottom center;
  transform: rotate(240deg);
}

/* SASUKE ETERNAL MANGEKYO SHARINGAN END */

/* HAGOROMO EYES START */
.hagoromo-eye {
  background: radial-gradient(
    circle,
    rgba(117, 87, 143, 1) 0%,
    rgba(122, 83, 156, 1) 20%,
    rgba(242, 221, 255, 1) 100%
  );
}

.hagoromo-eye::after {
  width: 20px;
  height: 20px;
}

.hagoromo-text {
  color: rgba(117, 87, 143, 1);
  text-shadow: 0 0 10px rgba(117, 87, 143, 1), 0 0 10px black, 0 0 10px black,
    0 0 10px rgba(117, 87, 143, 1);
}

.hagoromo-eye > .inner-eye {
  border: none;
}

.hagoromo-eye > .inner-eye > div {
  position: absolute;
  border: 3px solid black;
  border-radius: 50%;
}

.hagoromo-eye > .inner-eye > div:nth-child(1) {
  width: 60px;
  height: 60px;
}

.hagoromo-eye > .inner-eye > div:nth-child(2) {
  width: 110px;
  height: 110px;
}

.hagoromo-eye > .inner-eye > div:nth-child(3) {
  width: 160px;
  height: 160px;
}

@keyframes hagoromo-glow {
  0% {
    box-shadow: 0 0 0 rgba(122, 83, 156, 1);
  }
  100% {
    box-shadow: 0 0 100px rgba(122, 83, 156, 1);
  }
}
/* HAGOROMO EYES END */
/*  SASUKE RINNEGAN */

.s-rgn > .inner-eye > div > .tag-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.s-rgn > .inner-eye > div:nth-child(1) > .tag-container > .tag {
  top: -10px;
  left: 20px;
}

.s-rgn > .inner-eye > div:nth-child(2) {
  transform: rotate(180deg);
}

.s-rgn > .inner-eye > div:nth-child(2) > .tag-container > .tag {
  top: -10px;
  left: 45px;
}

.s-rgn > .inner-eye > div > .tag-container:nth-child(2) {
  transform: rotate(120deg);
}

.s-rgn > .inner-eye > div > .tag-container:nth-child(3) {
  transform: rotate(240deg);
}

@keyframes reverse-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
/* SASUKE RINNEGAN END */

.eye-box {
  background-color: #fff;
  width: 350px;
  height: 200px;
  position: static;
  overflow: hidden;
  display: flex;
  margin: 0px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100% 0 54% 46% / 93% 1% 99% 7%;
  box-shadow: -4px 21px 1px 6px var(--eye-shadow) inset;
  animation: eye_animation 11s ease-in-out infinite;
  transition: height 0.5s ease-in-out, padding-top 0.5s ease-in-out;
}

.left-eye {
  transform: scaleX(-1);
}

@keyframes eye_animation {
  0%,
  36%,
  55%,
  100% {
    height: 200px;
    padding-top: 20px;
  }
  43%,
  47% {
    height: 0;
    padding: 0;
  }
}
